
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Home", "Admin"))

{

    <div class="container">
        <section class="hero">
            <h2>Sign In</h2>
            <p>Enter your details below to sign in to your account.</p>
        </section>
        <section class="content">
            <h3>Sign In Form</h3>
            <form action="#" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Sign In</button>
                </div>
            </form>
        </section>
    </div>
}

