
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="main clearfix">
    <div class="main_1 clearfix cd-secondary-nav">
        <section id="header" class="clearfix">
            <div class="col-sm-4 space_left">
                <div class="header_bl clearfix">
                    <ul class="nav navbar-nav mgt">
                        <li class="dropdown">
                            <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">MENU<span class="caret"></span></a>
                            <ul class="dropdown-menu drop_1" role="menu">
                                <li><a class="hvr-forward" href="index.html">HOME</a></li>
                                <li><a class="hvr-forward" href="about.html">ABOUT US</a></li>
                                <li><a class="hvr-forward" href="services.html">SERVICES</a></li>
                                <li><a class="hvr-forward" href="listing.html">ROOM LISTING</a></li>
                                <li><a class="hvr-forward" href="detail.html">LISTING DETAIL</a></li>
                                <li><a class="hvr-forward" href="booking.html">ROOM BOOKING</a></li>
                                <li><a class="hvr-forward active_tab" href="contact.html">CONTACT US</a></li>
                            </ul>
                        </li>
                        <li><a class="m_tag" href="#"> (123) 456-7990</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-4 space_left">
                <div class="header_bm text-center  clearfix">
                    <h3><a href="index.html">USVNQ<br> <span>International Resort</span></a></h3>
                </div>
            </div>
            <div class="col-sm-4 space_left">
                <div class="header_bl clearfix">
                    <ul class="nav navbar-nav mgt navbar-right">
                        <li class="dropdown">
                            <a class="m_tag" href="#" data-toggle="dropdown" role="button" aria-expanded="false">EN<span class="caret"></span></a>
                            <ul class="dropdown-menu drop_2" role="menu">
                                <li><a class="hvr-forward" href="#">ENGLISH</a></li>
                                <li><a class="hvr-forward" href="#">SPANISH</a></li>
                                <li><a class="hvr-forward" href="#">PORTUGUES</a></li>
                            </ul>
                        </li>
                        <li><a class="m_tag_1" href="#"> BOOK NOW</a></li>

                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="main_2 clearfix">
        <section id="center" class="center_list clearfix">
            <div class="center_list_m clearfix">
                <div class="container">
                    <div class="row">
                        <div class="center_list_1 text-center clearfix">
                            <div class="col-sm-12">
                                <h1 class="col">CONTACT US</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="contact_t clearfix">
                <div class="col-sm-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" style="width:100%; height:450px; border:0" allowfullscreen="">
                    </iframe>
                </div>
            </div>
            <div class="contact_1 clearfix">
                <div class="col-sm-4">
                    <div class="contact_1i text-center clearfix">
                        <span class="span_1"><i class="fa fa-phone"></i></span>
                        <h4>PHONE</h4>
                        <h5>
                            <span class="span_2">Toll-Free:</span> 0123 - 456 - 7890<br>
                            <span class="span_2">Fax:</span> 0123 - 456 - 7890
                        </h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact_1i text-center clearfix">
                        <span class="span_1"><i class="fa fa-mail-forward"></i></span>
                        <h4>EMAIL</h4>
                        <h5>
                            <a href="#">info@gmail.com</a><br>
                            <a href="#">info@gmail.com</a>
                        </h5>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="contact_1i text-center clearfix">
                        <span class="span_1"><i class="fa fa-location-arrow"></i></span>
                        <h4>ADDRESS</h4>
                        <h5> No: 68 C, Lorem Ipsum Integer, <br> Street, NE, USA 5619</h5>
                    </div>
                </div>
            </div>
            <div class="blog_p_1ri4 clearfix">
                <div class="col-sm-6">
                    <h3 class="mgt">Contact Form</h3><br>
                    <h6>Your Name</h6>
                    <input class="form-control" type="text">
                    <h6>Your Email</h6>
                    <input class="form-control" type="text">
                    <h6>Subject</h6>
                    <input class="form-control" type="text">
                    <h6>Your Comment</h6>
                    <textarea class="form-control form_1"></textarea>
                    <p>All blog comments are checked prior to publishing</p>
                    <h5><a class="button" href="#">POST COMMENT</a></h5>
                </div>
                <div class="col-sm-6">
                    <img src="img/53.jpg" class="iw" alt="abc">
                </div>
            </div>
        </div>
    </div>
</section>

